<style>
    table, tr, th, td {
        border: 1px solid blue;
        border-collapse: collapse;
    }

    th, td {
      padding: 10px;
    }
</style>
<div class="fg-table">
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
                <th>D.O.B</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>170210</td>
                <td>Nahid</td>
                <td>Prawez</td>
                <td>30000 INR</td>
                <td>02- 08- 1999</td>
                <td>nahid@fokatguru.in</td>
                <td><button>Modify</button></td>
            </tr>
        </tbody>
    </table>
</div>


